{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HL(SoftBus)</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link rel="icon" href="{% static 'dist/img/favicon.png' %}">
  <link rel="apple-touch-icon" href="{% static 'dist/img/apple-touch-icon.png' %}">
 -->
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{% static 'dist/vendor/bootstrap/css/bootstrap.min.css' %}" >
  <link rel="stylesheet" href="{% static 'dist/vendor/icofont/icofont.min.css' %}" >
  <link rel="stylesheet" href="{% static 'dist/vendor/boxicons/css/boxicons.min.css' %}" >
  <link rel="stylesheet" href="{% static 'dist/vendor/owl.carousel/assets/owl.carousel.min.css' %}" >
  <link rel="stylesheet" href="{% static 'dist/vendor/venobox/venobox.css' %}" >

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">

  <!-- =======================================================
  * Template Name: Baker - v2.1.0
  * Template URL: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="{% url 'index' %}">Herbal Lagoons</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'index' %}">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <!-- <li><a href="#team">Team</a></li>
 -->         <!-- <li><a href="#pricing">Pricing</a></li>-->
<!--           <li><a href="#contact">Register</a></li>
 -->
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container position-relative">
      <marquee><h1 style="color: red;"></h1></marquee>
      <h1>Herbal Lagoons SMC (Pvt) Ltd</h1>
      <h2>Good Health Organic lives</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'dist/img/clients/client-1.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'dist/img/clients/client-2.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'dist/img/clients/client-3.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'dist/img/clients/client-4.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'dist/img/clients/client-5.jpg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'dist/img/clients/client-6.jpg' %}" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'dist/img/clients/client-1.png' %}" class="img-fluid" alt=""><br>
            <img src="{% static 'dist/img/clients/client-5.jpg' %}" class="img-fluid" alt=""><br>
            <img src="{% static 'dist/img/clients/client-3.jpg' %}" class="img-fluid" alt=""><br>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>About <small>Who Are We ?</small></h3>
            <p>
              Herbal lagoons is an enterprise providing premium quality and shelf-stable fruits, vegetables, and herbs to its customers. Dealing with research, production, dehydration, and marking of products. We are committed to providing good taste, healthy and nutrition-loaded food. We are focused to make unremitting efforts to mitigate the problem of perishability and established strong technical and scientific approaches for value-added horticultural products.<br>
              Our main products are herbs including oregano, thyme, parsley, rosemary, basil, chamomile, vegetables; Onion, Garlic, ginger, Biter gourd red/green chili, carrot, Tomato, and fruits; Apple, Banana, Mango, Peach, Apricot, Plump, Pomegranate, Oranges, Strawberry (available in the form of flakes, chunks, and powder). These foodstuffs are purely natural, with no additive or synthetic chemicals used for food processing. <br>
              <b>Herbal lagoons pounding impact in a dichotomous way, i.e. Short term and Long term. </b>


            </p>
            <div class="row">
              <div class="col-md-6">
                <i class="bx bx-receipt"></i>
                <h4>Short Term Impact </h4>
                <p>“All-natural” we do not compromise on health, all products are preserved through natural means. Herbal lagoons mainly use solar radiation and air dehydration. Slow air-drying allows the moisture to evaporate leaving all the nutrients intact. These herbs and dehydrated products are full of antioxidants and rich in minerals, vitamins, and other essential diet components. Furthermore, “zero moisture” will ensure “zero diseases” as there will be no microbial activity. Our deft dehydration, proper packaging, and storage increase the shelf life by 2-3 years. These disease-free ingredients will boost the overall health of society. 
“Smart Chief” these ready-to-use products are smart in their use. No tears or odder issues while dicing onions or garlic etc. Weather its in a home kitchen or as an camping essential, our dried veggies are an amazing addition to every meal. These flakes are easy to carry and cook and will boost your spirit of cooking. You can now make an omelet, soup, casseroles, and many more recipes, in no time because your ingredients are ready to add.
</p>
              </div>
              <div class="col-md-6">
                <i class="bx bx-cube-alt"></i>
                <h4> Long Term Impact </h4>
                <p>Herbal Lagoons is a company having a clear vision and great room for growth and innovation. Following the strategy of Green Aura (GA), we are approaching the baseline farmers. Through contract farming, introducing new horticultural crops in cropping patterns of Baluchistan which ultimately influence the national economy. Import costs will be mitigated due to the self-sustainable production of the herbal plants on various growing sites in Baluchistan. 
Herbal Lagoons meet the standards and exceed customers’ expectations. We are not only selling products but health in a very nominal economical way and restoring harmony in society through our business venture.  </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
<!-- Mission Section -->
    <section id="services" class="services">
      <div class="container">
        <div class="section-title">
          <h2>Services</h2>
          <p>The Serives listed below are provided by the Herbal Lagoons </p>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'dist/img/clients/value.jpg' %}" class="img-fluid" alt=""><br>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Value</h3>
            <p>
             Natural: Herbal Lagoons is ambassador of nature, we do not use artificial additives, but all natural means to preserve the products.<br>
             Zero Moisture - Zero Disease: Herbal lagoons save food from post-harvest losses. Dehydrated fruits and veggies restrict the fungal or microbial diseases attack.<br>
             Health: Herbal lagoons is distributing health to customers. Solar and air dehydrations lock the nutrients and prevent protein denaturation.<br>
             Company’s culture: Herbal lagoons is focused on maintaining positive, respectful, and trustworthy relations.<br>
             Valued Customers: Herbal lagoons value their customers. Your satisfaction is our priority. <br>
            </p>
          </div>
        </div><br><br>
        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'dist/img/clients/mission.jpg' %}" class="img-fluid" alt=""><br>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Mission</h3>
            <p>1- A journey from synthetic to authentic food.<br>
              2-  Promotion of organic ways to preserve horticultural crops on the mass level.<br>
              3-  Providing an opportunity to the farming community through contract farming.<br>
              4- Promoting the idea of self-sustainability through sufficient cultivation. <br>
              <br>
              <br>
              <h4>VISION</h4>
              Vitality, Good Health, Organic lives. <br>
              Ready-to-use Ingredients; Smart, Quick and Easy.<br>
              Super Nutritious with boosted shelf lives.<br>
              Supporting the national economy by reducing the import cost of dehydrated food.<br>


            </p>
          </div>
        </div>

      </div>
    </section>

    <!-- ======= Counts Section ======= -->
 <!--    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">232</span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">521</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,463</span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Hard Workers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->
 -->
    <!-- ======= Services Section ======= -->
    <!-- <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>The Serives listed below are provided by the Skill Academy of Technology</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <i class="bx bxl-dribbble"></i>
              </div>
              <h4><a href="">Artificial Intelligence</a></h4>
              <p>Impacting the future of virtually every industry.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <i class="bx bx-file"></i>
              </div>
              <h4><a href="">Data Science</a></h4>
              <p>From Business to Sports Data Science is everywhere. It is about extracting, analyzing, visualizing, managing and storing data to create insights. These insights help the companies to make powerful data-driven decisions.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <i class="bx bx-tachometer"></i>
              </div>
              <h4><a href="">Machine Learning</a></h4>
              <p>Branch of Artificial Intelligence based on the idea that systems can learn from data, identify patterns and make decisions with minimal human intervention.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
              <div class="icon">
                <i class="bx bx-layer"></i>
              </div>
              <h4><a href="">Deep Learning & Neural Network</a></h4>
              <p>Technology that mimics the workings of the human brain. The technology behind driverless cars, enabling them to recognize a stop sign, or to distinguish a pedestrian from a lamppost.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
              <div class="icon">
                <i class="bx bx-slideshow"></i>
              </div>
              <h4><a href="">Image Processing</a></h4>
              <p>Field of science and technology include computer vision, remote sensing, feature extraction, face detection, forecasting, optical character recognition, finger-print detection, optical sorting, argument reality, microscope imaging, lane departure caution< and much more./p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <i class="bx bx-arch"></i>
              </div>
              <h4><a href="">Django</a></h4>
              <p>Python web framework used for rapid development, pragmatic, maintainable, clean design, and secure websites</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <i class="bx bx-arch"></i>
              </div>
              <h4><a href="">Application Development</a></h4>
              <p>Accessing the Internet via smartphones and tablets, mobile app development has the unique ability to access a large number of potential consumers</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <i class="bx bx-arch"></i>
              </div>
              <h4><a href="">Web & Software Development</a></h4>
              <p>Fast-paced, challenging career centered on creative problem-solving and continuous innovation.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <i class="bx bx-arch"></i>
              </div>
              <h4><a href="">Python</a></h4>
              <p>Easy, powerful, and versatile, making it a great choice for beginners and experts alike. </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <i class="bx bx-arch"></i>
              </div>
              <h4><a href="">Java Script</a></h4>
              <p>JavaScript is a scripting language that enables you to create dynamically updating content, control multimedia, animate images, and pretty much everything else.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section --> -->

  

    <!-- ======= Testimonials Section ======= -->
   <!--  <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
          </div>

        </div>

      </div>
    --> </section><!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Main</li>
              <li data-filter=".filter-card">New</li>
              <li data-filter=".filter-web">Coming soon</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'dist/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Organically Dried Onions Flakes</h4>
              <p>Main</p>
              <a href="{% static 'dist/img/portfolio/portfolio-1.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a><!-- 
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{% static 'dist/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Organically Dried Mint leaf</h4>
              <p>New</p>
              <a href="{% static 'dist/img/portfolio/portfolio-1.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a><!-- 
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'dist/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Organically Dried Ginger Flakes</h4>
              <p>Coming soon</p>
              <a href="{% static 'dist/img/portfolio/portfolio-1.jpg' %}" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a><!-- 
              <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox details-link" title="Portfolio Details"><i class="bx bx-link"></i></a> -->
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
   <!--  <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    --> <!-- ======= Pricing Section ======= -->






><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
<!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->

    <!-- End Contact Section -->

  </main><!-- End #main -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p>Herbal Lagoons Help</p>
          <a class="cta-btn" href="#">Register(Working)</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Herbal Lagoons</h3>
            <p>
              Near City Campus <br>
              Buitems, Jinnah Town<br>
              Quetta <br><br>
              <!-- <strong>Phone:</strong> <br> -->
              <strong>Email:</strong> info@herballagoons.com<br>
              <strong>Call Us:</strong> +92 342 805 3402<br>
              <strong>Whatsapp:</strong>+92 348 261 9400<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Products</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">P1</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">P2</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">P3</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">P4</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">P5</a></li>
            </ul>
          </div>

         <!--  <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Stay connected.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>
 -->
    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Herbal Lagoons</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/ -->
          <!-- Designed by <a href="SAOT">BootstrapMade</a> -->
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'dist/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'dist/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'dist/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'dist/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'dist/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'dist/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'dist/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'dist/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'dist/vendor/venobox/venobox.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'dist/js/main.js' %}"></script>

</body>

</html>
